body {
    background-color: #000;
}

.container {
    max-width: 768px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand img {
    height: 50px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

img {
    max-width: 100%;
}

.btn-camera {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 18px 0 0 0;
    border-radius: 50px;
}

.camera-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
#camera {
    position: absolute;
    top: 0;
    /*bottom: -41.43%;*/
    bottom: -35%;
    left: 0;
    right: 0;
    border: 3px dashed #fff;
    overflow: hidden;
}

#closeCamera {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 888;
    padding: 10px 15px;
}

#scanner {
    margin-top: -20px;
}

#scanner .loader {
    position: absolute;
    top: 0;
    bottom: -35%;
    left: 0;
    right: 0;
    display: none;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
}
#scanner .loader i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
}
#scanner.loading .loader {
    display: block;
}

#takeSnapshot {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    padding-top: 12px;
}

.btn-group.btn-group-justified input {
    display: none;
}

.btn-group.btn-group-justified input:checked + label {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #272727;
}

pre a {
    color: #be0d00;
}

.nav.nav-pills a {
    background-color: #171717;
}
